<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.0" targetFramework="net45" />
  <package id="OpenRasta.Owin" version="0.0.10.0" targetFramework="net45" />
  <package id="openrasta-core" version="2.5.31" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>